* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: white;
}

/* Note-App Styling Below */
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}

.dark-mode {
  background-color: #282c34;
}
.dark-mode .header {
  color: white;
}
.dark-mode .footer {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  right: 3%;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.note.new {
  background-color: #8fdd71;
}

textarea {
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #c1c1c1;
  cursor: pointer;
}
.note {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-trash3-fill {
  cursor: pointer;
}

.bi-trash3-fill:hover {
  color: red;
}

.bi-palette-fill {
  cursor: pointer;
}

.bi-palette-fill:hover {
  color: white;
}

.bi-pencil-fill {
  cursor: pointer;
}

.bi-pencil-fill:hover {
  color: white;
}

.bi-three-dots-vertical {
  cursor: pointer;
}

.bi-three-dots-vertical:hover {
  color: white;
}

.list-group-item {
  padding: 0.75rem 0.25rem;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #424442c8;
  min-width: 5rem;
}
